@import "../../@mixin/mixin.scss";

//Unchecked buttons
$button-bkg: rgb(241, 247, 248);
$button-font-clr: rgb(25, 94, 121);
$button-border-clr: rgb(168, 200, 206);

//Checked buttons
$checked-button-bkg: rgb(85, 188, 202);
$checked-button-font-clr: rgb(250, 250, 245);
$checked-button-border-clr: teal;

.Radio {
      input {
            display: none;
      }

      label {
            @include uncheked-buttons;
      }

      input:checked+label {
            position: relative;
            background: $checked-button-bkg;
            color: $checked-button-font-clr;
            z-index: 1;
            box-shadow: 0 0 0 1px $checked-button-border-clr;
      }
}