@import "../../../Sass/mixin/mixin.scss";
@import "../../../Sass/variables/variables.scss";

.ResetSection {
    display: flex;
    align-items: right;
    justify-content: flex-end;

    legend {
        @include legend;
    }

    input {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 0.7rem;
        letter-spacing: 1.5px;
        height: $left-components-height;
        padding: 0 6px;
        color: #888;
        background: white;
        border: solid 1px #bbb;
        border-radius: 2px;
    }
}