@import url("https://fonts.googleapis.com/css?family=Cairo|Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Aldrich|Open+Sans&display=swap");
/*************************
 *                    MIXIN
 *************************/
/*************************
 *                   GLOBAL
 *************************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7vh;
}

.App div[class*="Section"] {
  padding: 6px 0;
}

/***************************
 *                   NAVBAR
***************************/
.Navbar {
  height: 6vh;
  width: 100vw;
  background: #034050;
  color: #e7f1f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 6vw 0 8vw;
}

.Navbar .links-ul,
.Navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar .logo {
  font-family: "Audiowide";
  font-weight: 500;
  font-size: 3.5vh;
  letter-spacing: 0.7vh;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.open-dropdown {
  position: relative;
  list-style: none;
  margin: 0 10px;
  padding: 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.open-dropdown h3 {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 2.3vh;
  font-family: "Audiowide";
  font-weight: 400;
  font-variant: small-caps;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.open-dropdown .dropdown {
  position: absolute;
  text-align: center;
  z-index: 2;
  opacity: 1;
  top: 50px;
  padding: 5px;
  background: #49a5b1;
  border: solid 1px #006e6e;
  border-top: none;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in;
  transition: -webkit-transform 150ms 50ms ease-in;
  transition: transform 150ms 50ms ease-in;
  transition: transform 150ms 50ms ease-in, -webkit-transform 150ms 50ms ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.open-dropdown .dropdown a {
  display: inline-block;
  line-height: 25px;
  padding: 0 5px;
  width: 100%;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
  border-radius: 2px;
  color: #fafaf5;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-family: "Cairo";
  font-size: 1.6vh;
}

.open-dropdown .dropdown a:hover {
  background: #1f7d9c;
  cursor: pointer;
}

.open-dropdown .dropdown::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 1;
  background: currentColor;
  right: 0;
  top: -3px;
  -webkit-transition: -webkit-transform 250ms 50ms cubic-bezier(0, 1.15, 1, 1);
  transition: -webkit-transform 250ms 50ms cubic-bezier(0, 1.15, 1, 1);
  transition: transform 250ms 50ms cubic-bezier(0, 1.15, 1, 1);
  transition: transform 250ms 50ms cubic-bezier(0, 1.15, 1, 1), -webkit-transform 250ms 50ms cubic-bezier(0, 1.15, 1, 1);
  -webkit-box-shadow: 0 0px 5px 0px white;
          box-shadow: 0 0px 5px 0px white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.open-dropdown:hover .dropdown {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.open-dropdown:hover .dropdown::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  left: 0;
}

/***************************
 *               COMPONENTS
***************************/
/*
 * 1st LVL
 */
.EmailsTemplates,
.LogsTemplates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
 * 2nd LVL
 */
.LeftSide {
  padding-right: 15px;
  margin-right: 25px;
  border-right: dotted 1px #cbdce0;
  font-family: "Aldrich";
}

.RightSide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@-webkit-keyframes scan-effect {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes scan-effect {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.RightSide .active::after {
  content: "";
  top: -10%;
  left: 0;
  width: 100%;
  height: 120%;
  position: absolute;
  -webkit-box-shadow: 20px 0px 30px -30px #646464;
          box-shadow: 20px 0px 30px -30px #646464;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: scan-effect 500ms linear;
          animation: scan-effect 500ms linear;
}

.RightSide textarea {
  overflow: hidden;
  resize: none;
  border: none;
  background: none;
  font-size: 1.7vh;
  line-height: 2.5vh;
  letter-spacing: 0.7px;
  color: #2b4c5f;
  font-family: "Cairo";
}

.RightSide textarea:focus {
  outline: none;
}

/*
 * 3rd LVL
 */
.CopySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes copyBtnEffect {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  70% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.6;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes copyBtnEffect {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  70% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.6;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
}

.CopySection legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  margin-left: 15px;
  font-size: 0.72rem;
  color: #667074;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
}

.CopySection button {
  position: relative;
  font-size: 1.5vh;
  font-weight: 500;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 85px;
  -webkit-box-shadow: 0 0 0 1px #6b989e;
          box-shadow: 0 0 0 1px #6b989e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1f7f8;
  border-radius: 1px;
  height: 2.5vh;
  color: #326679;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Aldrich";
}

.CopySection .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #49a5b1;
  left: 0;
  pointer-events: none;
  -webkit-box-shadow: 0 0 0 1px #006e6e;
          box-shadow: 0 0 0 1px #006e6e;
  border-radius: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0.9;
  -webkit-animation: copyBtnEffect 800ms linear;
          animation: copyBtnEffect 800ms linear;
  background: #319caa;
}

.RadioSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5vh;
  font-weight: 500;
  letter-spacing: 2px;
  font-weight: 500;
}

.RadioSection legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  margin-left: 15px;
  font-size: 0.72rem;
  color: #667074;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
}

.RadioSection .Radio input {
  display: none;
}

.RadioSection .Radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 85px;
  -webkit-box-shadow: 0 0 0 1px #6b989e;
          box-shadow: 0 0 0 1px #6b989e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1f7f8;
  border-radius: 1px;
  height: 2.5vh;
  color: #326679;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.RadioSection .Radio input:checked + label {
  position: relative;
  background: #49a5b1;
  color: #e7f1f5;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 1px #006e6e;
          box-shadow: 0 0 0 1px #006e6e;
}

.ResetSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ResetSection legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  margin-left: 15px;
  font-size: 0.72rem;
  color: #667074;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
}

.ResetSection input {
  font-size: 0.6rem;
  letter-spacing: 1px;
  height: 2.5vh;
  padding: 0 6px;
  color: #888;
  background: white;
  border: solid 1px #bbb;
  border-radius: 2px;
  font-family: "Aldrich";
}

.TextFieldSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5vh;
  font-weight: 500;
  letter-spacing: 2px;
}

.TextFieldSection legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  margin-left: 15px;
  font-size: 0.72rem;
  color: #667074;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
}

.TextFieldSection input {
  border: none;
  -webkit-box-shadow: 0 0 0 1px #6b989e;
          box-shadow: 0 0 0 1px #6b989e;
  border-radius: 2px;
  padding: 0 10px;
  height: 2.5vh;
  width: 120px;
  font-family: "Aldrich";
}

.TextFieldSection input:focus {
  outline: none;
}

.TextFieldSection input:valid {
  -webkit-box-shadow: 0 0 1px 1px #74e974;
          box-shadow: 0 0 1px 1px #74e974;
}

.TextFieldSection input::-webkit-input-placeholder {
  font-size: 0.76rem;
}

.TextFieldSection input:-ms-input-placeholder {
  font-size: 0.76rem;
}

.TextFieldSection input::-ms-input-placeholder {
  font-size: 0.76rem;
}

.TextFieldSection input::placeholder {
  font-size: 0.76rem;
}
