//Unchecked buttons
$button-bkg: rgb(241, 247, 248);
$button-font-clr: rgb(50, 102, 121);
$button-border-clr: rgb(107, 152, 158);

//Checked buttons
$checked-button-bkg: rgb(95, 173, 184);
$checked-button-font-clr: rgb(231, 241, 245); //rgb(30, 73, 114);
$checked-button-border-clr: rgb(0, 110, 110);

//height
$left-components-height: 23px;