//Unchecked buttons
$button-bkg: rgb(241, 247, 248);
$button-font-clr: rgb(25, 94, 121);
$button-border-clr: rgb(168, 200, 206);

//Checked buttons
$checked-button-bkg: rgb(85, 188, 202);
$checked-button-font-clr: rgb(250, 250, 245);
$checked-button-border-clr: teal;

//height
$left-components-height: 23px;