@mixin uncheked-buttons {
    display: flex;
    border: none;
    width: 85px;
    box-shadow: 0 0 0 1px $button-border-clr;
    align-items: center;
    justify-content: center;
    background: $button-bkg;
    border-radius: 1px;
    height: 23px;
    color: $button-font-clr;
    user-select: none;
}

@mixin form-font {
    font-size: 0.78rem;
    font-weight: 500;
    letter-spacing: 2px;
}

@mixin legend {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-left: 15px;
    font-size: 0.72rem;
    color: rgb(102, 112, 116);
    font-style: italic;
    user-select: none;
}