@-webkit-keyframes copyBtn-effect {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  70% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.6;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes copyBtn-effect {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  70% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.6;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
}

.CopySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CopySection legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  margin-left: 15px;
  font-size: 0.72rem;
  color: #667074;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.CopySection button {
  position: relative;
  font-size: 0.78rem;
  font-weight: 500;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 85px;
  -webkit-box-shadow: 0 0 0 1px #6b989e;
          box-shadow: 0 0 0 1px #6b989e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1f7f8;
  border-radius: 1px;
  height: 23px;
  color: #326679;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.CopySection .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #49a5b1;
  left: 0;
  pointer-events: none;
  -webkit-box-shadow: 0 0 0 1px #006e6e;
          box-shadow: 0 0 0 1px #006e6e;
  border-radius: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0.9;
  -webkit-animation: copyBtn-effect 800ms linear;
          animation: copyBtn-effect 800ms linear;
  background: #319caa;
}
/*# sourceMappingURL=CopySection.css.map */