@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

@mixin uncheked-buttons {
    display: flex;
    border: none;
    width: 85px;
    box-shadow: 0 0 0 1px $button-border-clr;
    align-items: center;
    justify-content: center;
    background: $button-bkg;
    border-radius: 1px;
    height: 23px;
    color: $button-font-clr;
    user-select: none;
}

@mixin form-font {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.93rem;
    letter-spacing: 1.5px;
}

@mixin legend {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-left: 15px;
    font-size: 0.85rem;
    color: #555;
    font-style: italic;
}